<div>
  <h3 class="page-header text-center">    All Todos Task  </h3>
  <table class="table">
    <thead>
        <tr>
              <th>
                Task
              </th>
              <th>
                 Project
              </th>
              <th>
                User
              </th>
              <th>
                Status
              </th>
        </tr>
    </thead>
    <tbody>
      <%=render @todos %>
    </tbody>
  </table>
</div>
