<h2 class="text-center page-header">Your Task</h2>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Taks</th>
      <th>Project</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <%=render :partial=>"todo_list",collection: @todos,as: :todo %>
  </tbody>
</table>

<script type="text/javascript">
  $(function(){
    $(".task-link").delegate(".task","click",function(){
      var el=$(this).parent().parent()
      data={"status":$(this).attr("data-status"),"id":$(this).attr("data-task")}
      $.ajax({
        url:"/todos/done/",
        data:data,
        type:"post",
        success:function(data){
          el.remove();
        }
      })
    })
  })
</script>
